.track-map {
    position: relative;
    /* Scale to fit both axes: as large as possible without exceeding either
       the panel width or the panel height. */
    aspect-ratio: 875 / 710;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.track-map img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.5;
}

.track-map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
